In [7]:
import pandas as pd
import os

# IMPORT ALL .CSV
provinces = ['Bangkok','Chanthaburi','Chiang Mai','Kanchanaburi','Khon Kaen','Songkhla']
data = dict()
subset = 'Train'

for province in provinces:
    df =  pd.read_csv(f'./full-data/{subset}/{province}_full.csv', index_col=0, parse_dates=True)
    idx = pd.MultiIndex.from_product([[province],df.columns])
    df.columns = idx
    data[province] = df

In [8]:
grand_data = data['Bangkok']\
                .merge(data['Chanthaburi'], how='left', left_index=True, right_index=True)\
                .merge(data['Chiang Mai'], how='left', left_index=True, right_index=True)\
                .merge(data['Kanchanaburi'], how='left', left_index=True, right_index=True)\
                .merge(data['Khon Kaen'], how='left', left_index=True, right_index=True)\
                .merge(data['Songkhla'], how='left', left_index=True, right_index=True)
grand_data.head()

                    Bangkok                                  Chanthaburi  \
                      PM2.5 WindDir Wind Speed(km/h) Temp(C)       PM2.5
2016-03-03 08:00:00    62.9     NaN              NaN     NaN        44.2
2016-03-03 09:00:00    62.9     NaN              NaN     NaN        44.2
2016-03-03 10:00:00    55.5    75.0             13.0    31.4        44.3
2016-03-03 11:00:00    55.5    75.0             13.0    31.4        44.2
2016-03-03 12:00:00    47.9    75.0             13.0    31.4        34.2

                                                     Chiang Mai          ...  \
                    WindDir Wind Speed(km/h) Temp(C)      PM2.5 WindDir  ...
2016-03-03 08:00:00     NaN              NaN     NaN       53.7     NaN  ...
2016-03-03 09:00:00     NaN              NaN     NaN       53.7     NaN  ...
2016-03-03 10:00:00    75.0             16.0    30.9       53.7   205.0  ...
2016-03-03 11:00:00    75.0             16.0    30.9       53.7   205.0  ...
2016-03-03 12:00:00    75.0             16.0    30.9       33.4   205.0  ...

                        Kanchanaburi         Khon Kaen          \
                    Wind Speed(km/h) Temp(C)     PM2.5 WindDir
2016-03-03 08:00:00              NaN     NaN      35.8     NaN
2016-03-03 09:00:00              NaN     NaN      35.8     NaN
2016-03-03 10:00:00             17.0    31.1      36.0    85.0
2016-03-03 11:00:00             17.0    31.1      35.9    85.0
2016-03-03 12:00:00             17.0    31.1       NaN    85.0

                                             Songkhla          \
                    Wind Speed(km/h) Temp(C)    PM2.5 WindDir
2016-03-03 08:00:00              NaN     NaN     31.2     NaN
2016-03-03 09:00:00              NaN     NaN     31.2     NaN
2016-03-03 10:00:00              8.0    27.0     31.2    85.0
2016-03-03 11:00:00              8.0    27.0     31.2    85.0
2016-03-03 12:00:00              8.0    27.0     24.5    85.0


                    Wind Speed(km/h) Temp(C)
2016-03-03 08:00:00              NaN     NaN
2016-03-03 09:00:00              NaN     NaN
2016-03-03 10:00:00             40.0    28.6
2016-03-03 11:00:00             40.0    28.6
2016-03-03 12:00:00             40.0    28.6

[5 rows x 24 columns]

In [2]:
grand_data = data['Bangkok']\
                .merge(data['Chanthaburi'], how='left', left_index=True, right_index=True)\
                .merge(data['Chiang Mai'], how='left', left_index=True, right_index=True)\
                .merge(data['Kanchanaburi'], how='left', left_index=True, right_index=True)\
                .merge(data['Khon Kaen'], how='left', left_index=True, right_index=True)\
                .merge(data['Songkhla'], how='left', left_index=True, right_index=True)
grand_data.head()

                    Bangkok                               Chanthaburi          \
                       Temp WindDir Wind Speed      PM2.5        Temp WindDir
Datetime
2016-03-03 07:00:00    26.4      65         15  62.900000        25.4      70
2016-03-03 10:00:00    31.4      75         13  52.966667        30.9      75
2016-03-03 13:00:00    34.1      70         12  35.266667        33.4      65
2016-03-03 16:00:00    34.6      60         12  33.050000        31.7      55
2016-03-03 19:00:00    29.1      70         11  42.066667        27.2      65

                                     Chiang Mai          ... Kanchanaburi  \
                    Wind Speed PM2.5       Temp WindDir  ...   Wind Speed
Datetime                                                 ...
2016-03-03 07:00:00         20  44.2       19.9     210  ...           18
2016-03-03 10:00:00         16  40.9       29.8     205  ...           17
2016-03-03 13:00:00         11  32.4       33.7     240  ...           13
2016-03-03 16:00:00         10  37.8       33.4     230  ...           10
2016-03-03 19:00:00         17  47.2       24.4     220  ...           13

                               Khon Kaen                                \
                         PM2.5      Temp WindDir Wind Speed      PM2.5
Datetime
2016-03-03 07:00:00  65.200000      20.9      75          8  35.800000
2016-03-03 10:00:00  56.066667      27.0      85          8  35.950000
2016-03-03 13:00:00  33.800000      31.2      90         10        NaN
2016-03-03 16:00:00  48.050000      33.0      80          6  48.700000
2016-03-03 19:00:00  74.166667      28.1     125          8  60.066667

                    Songkhla
                        Temp WindDir Wind Speed      PM2.5
Datetime
2016-03-03 07:00:00     25.4    80.0       38.0  31.200000
2016-03-03 10:00:00     28.6    85.0       40.0  28.966667
2016-03-03 13:00:00     30.3    90.0       32.0  23.800000
2016-03-03 16:00:00     29.3    95.0       31.0  23.200000
2016-03-03 19:00:00     26.7    85.0       29.0  26.366667

[5 rows x 24 columns]

In [3]:
if not os.path.exists('pivot_.csv'):    
    grand_data.stack(0, dropna=False).to_csv('pivot_.csv')
    print('Create new file')

Create new file