In [1]:
import pandas as pd
import numpy as np
import os

# Extract Fire data

In [2]:
years = ['2016','2017','2018','2019']
countries = ['Cambodia','Myanmar','Thailand','Lao_PDR']

fire = {'2016':{}, '2017':{}, '2018':{}, '2019':{}}
data = {}

In [3]:
for year in years:
    timeline = pd.date_range(start=f'{year}-01-01', end=f'{year}-12-31 23:00:00', freq='H')
    left = pd.DataFrame(index=timeline)
    for country in countries:
        df = pd.read_csv(f'./Fire hotspot/viirs-snpp_{year}_{country}.csv')
        df['hour'] = df['acq_time'].apply(str).str[:-2]
        df['datetime'] = pd.to_datetime(df['acq_date']+'T'+df['hour'].str.zfill(2), 
                            format='%Y-%m-%dT%H')   

        # Assume : frp represent brightness
        df = df[['frp','datetime']]
        df.rename(columns={'frp':country+'_frp'}, inplace=True)

        # Assume : ไม่มีค่าไฟใน record = ไม่มีไฟ -> frp = 0
        df = df.groupby('datetime').mean()
        df = df.resample('H').mean().fillna(value=0.0)
        left = left.merge(df, how='left', left_index=True, right_index=True)
    data[year] = left.fillna(value=0.0)

In [14]:
fire_all = pd.concat(data)
fire_all.index = fire_all.index.levels[1]

In [15]:
fire_all

                     Cambodia_frp  Myanmar_frp  Thailand_frp  Lao_PDR_frp
2016-01-01 00:00:00           0.0        0.000      0.000000          0.0
2016-01-01 01:00:00           0.0        0.000      0.000000          0.0
2016-01-01 02:00:00           0.0        0.000      0.000000          0.0
2016-01-01 03:00:00           0.0        0.000      0.000000          0.0
2016-01-01 04:00:00           0.0        0.000      0.000000          0.0
...                           ...          ...           ...          ...
2019-12-31 19:00:00           0.0        0.612      1.628704          0.0
2019-12-31 20:00:00           0.0        0.000      0.000000          0.0
2019-12-31 21:00:00           0.0        0.000      0.000000          0.0
2019-12-31 22:00:00           0.0        0.000      0.000000          0.0
2019-12-31 23:00:00           0.0        0.000      0.000000          0.0

[35064 rows x 4 columns]

In [16]:
provinces = ['Bangkok','Chanthaburi','Chiang Mai','Kanchanaburi','Khon Kaen','Songkhla']
mega = {}

for province in provinces:
    if province == 'Khon Kaen' : continue
    df = pd.read_csv(f"./data/Train/{province}_imputed.csv", parse_dates=True, index_col=0)
    mega[province] = df.merge(fire_all, left_index=True, right_index=True, how='left')

In [17]:
mega['Bangkok'].loc['2016-3-3']

,PM2.5,Temp(C),WindDir,Wind Speed(km/h),Cambodia_frp,Myanmar_frp,Thailand_frp,Lao_PDR_frp
2016-03-03 08:00:00,62.90,26.4,65.0,15.0,0.000000,0.000000,0.000000,0.000000
2016-03-03 09:00:00,62.90,26.4,65.0,15.0,0.000000,0.000000,0.000000,0.000000
2016-03-03 10:00:00,55.50,31.4,75.0,13.0,0.000000,0.000000,0.000000,0.000000
2016-03-03 11:00:00,55.50,31.4,75.0,13.0,0.000000,0.000000,0.000000,0.000000
2016-03-03 12:00:00,47.90,31.4,75.0,13.0,0.000000,0.000000,0.000000,0.000000
2016-03-03 13:00:00,43.60,34.1,70.0,12.0,0.000000,0.000000,0.000000,0.000000
2016-03-03 14:00:00,28.60,34.1,70.0,12.0,0.000000,0.000000,0.000000,0.000000
2016-03-03 15:00:00,33.60,34.1,70.0,12.0,0.000000,0.000000,0.000000,0.000000
2016-03-03 16:00:00,34.80,34.6,60.0,12.0,0.000000,0.000000,0.000000,0.000000
2016-03-03 17:00:00,31.30,34.6,60.0,12.0,0.000000,0.000000,0.000000,0.000000
2016-03-03 18:00:00,45.12,34.6,60.0,12.0,1.574234,1.505772,1.435772,1.274845
2016-03-03 19:00:00,42.10,29.1,70.0,11.0,0.000000,1.238528,4.120000,0.000000
2016-03-03 20:00:00,38.60,29.1,70.0,11.0,0.000000,0.000000,0.000000,0.000000
2016-03-03 21:00:00,45.50,29.1,70.0,11.0,0.000000,0.000000,0.000000,0.000000
2016-03-03 22:00:00,49.90,27.3,70.0,15.0,0.000000,0.000000,0.000000,0.000000
2016-03-03 23:00:00,44.10,27.3,70.0,15.0,0.000000,0.000000,0.000000,0.000000

In [82]:
mega['Bangkok'].loc['2016-3-3']

,PM2.5,Temp(C),WindDir,Wind Speed(km/h),Cambodia_frp,Myanmar_frp,Thailand_frp,Lao_PDR_frp
2016-03-03 08:00:00,62.90,26.4,65.0,15.0,8.984035,8.099819,9.423972,7.991304
2016-03-03 09:00:00,62.90,26.4,65.0,15.0,8.984035,8.099819,9.423972,7.991304
2016-03-03 10:00:00,55.50,31.4,75.0,13.0,8.984035,8.099819,9.423972,7.991304
2016-03-03 11:00:00,55.50,31.4,75.0,13.0,8.984035,8.099819,9.423972,7.991304
2016-03-03 12:00:00,47.90,31.4,75.0,13.0,8.984035,8.099819,9.423972,7.991304
2016-03-03 13:00:00,43.60,34.1,70.0,12.0,8.984035,8.099819,9.423972,7.991304
2016-03-03 14:00:00,28.60,34.1,70.0,12.0,8.984035,8.099819,9.423972,7.991304
2016-03-03 15:00:00,33.60,34.1,70.0,12.0,8.984035,8.099819,9.423972,7.991304
2016-03-03 16:00:00,34.80,34.6,60.0,12.0,8.984035,8.099819,9.423972,7.991304
2016-03-03 17:00:00,31.30,34.6,60.0,12.0,8.984035,8.099819,9.423972,7.991304
2016-03-03 18:00:00,45.12,34.6,60.0,12.0,1.574234,1.505772,1.435772,1.274845
2016-03-03 19:00:00,42.10,29.1,70.0,11.0,1.574234,1.238528,4.120000,1.274845
2016-03-03 20:00:00,38.60,29.1,70.0,11.0,1.574234,1.238528,4.120000,1.274845
2016-03-03 21:00:00,45.50,29.1,70.0,11.0,1.574234,1.238528,4.120000,1.274845
2016-03-03 22:00:00,49.90,27.3,70.0,15.0,1.574234,1.238528,4.120000,1.274845
2016-03-03 23:00:00,44.10,27.3,70.0,15.0,1.574234,1.238528,4.120000,1.274845

## Save extracted data

In [18]:
for province in provinces:
    if province == 'Khon Kaen' : continue
    path = f'./data/Train/fire_integrated/{province}_fire_integrated.csv'
    if not os.path.exists(path):
        mega[province].to_csv(path)
    else:
        print(f"{province} already")

save ข้อมูลไฟทั้งหมด เก็บไว้ใช้ต่อกับ test set

In [35]:
import glob

if len(glob.glob("./data/*.csv"))==0:
    fire_all.to_csv('./data/fire_2016_to_2019.csv')
else:
    print('already')

already

## Expand Fire data
to 2020-03-18

In [4]:
fire_all = pd.read_csv('./data/fire_2016_to_2019.csv', index_col=0, parse_dates=True)
fire_all.tail()

                     Cambodia_frp  Myanmar_frp  Thailand_frp  Lao_PDR_frp
2019-12-31 19:00:00           0.0        0.612      1.628704          0.0
2019-12-31 20:00:00           0.0        0.000      0.000000          0.0
2019-12-31 21:00:00           0.0        0.000      0.000000          0.0
2019-12-31 22:00:00           0.0        0.000      0.000000          0.0
2019-12-31 23:00:00           0.0        0.000      0.000000          0.0

ต้องหามาต่อให้ถึง record สุดท้ายของ test set

In [5]:
from collections import defaultdict

lat_long = defaultdict(lambda: list())

for y in years:
    for c in countries:
        df = pd.read_csv(f'./Fire hotspot/viirs-snpp_{y}_{c}.csv')
        lat_long[c].append([(df['latitude'].min(), df['latitude'].max()), (df['longitude'].min(),df['longitude'].max())])

In [6]:
records = defaultdict(lambda: dict())
for c in countries:
    arr = np.array(lat_long[c]).reshape((4,4))
    print(f'{c} : lat min = {arr[:,0].min()} , lat max = {arr[:,1].max()} , long min = {arr[:,2].min()} , long max = {arr[:,3].max()}')
    records[c]['lat_min'] = arr[:,0].min()
    records[c]['lat_max'] = arr[:,1].max()
    records[c]['long_min'] = arr[:,2].min()
    records[c]['long_max'] = arr[:,3].max()

Cambodia : lat min = 10.435731 , lat max = 14.693866 , long min = 102.314522 , long max = 107.609604
Myanmar : lat min = 10.00162 , lat max = 28.344353 , long min = 92.177818 , long max = 101.160408
Thailand : lat min = 5.695879 , lat max = 20.440176 , long min = 97.352341 , long max = 105.649544
Lao_PDR : lat min = 13.916207 , lat max = 22.483566 , long min = 100.097649 , long max = 107.655373

จะใช้ค่าไฟจาก `fire_archive_V1_163551.csv`, 
              `fire_nrt_J1V-C2_163550.csv`

In [7]:
fire_files = [ 'fire_archive_V1_163551.csv', 'fire_nrt_J1V-C2_163550.csv']

data = []
for f in fire_files:
    df = pd.read_csv(f'./Fire hotspot/{f}')
    df['hour'] = df['acq_time'].apply(str).str[:-2]
    df['datetime'] = pd.to_datetime(
                                df['acq_date']+'T'+df['hour'].str.zfill(2), 
                                format='%Y-%m-%dT%H')
    
    df = df.groupby(by='datetime').mean()
    data.append()

In [12]:
fire_2020 = data[0]
fire_2020_c = {}

for c in countries:
    print(c, end=' ')
    lat_const = (fire_2020['latitude']<records[c]['lat_max']) & (fire_2020['latitude']>records[c]['lat_min'])
    long_const = (fire_2020['longitude']<records[c]['long_max']) & (fire_2020['longitude']>records[c]['long_min'])
    wow = fire_2020[lat_const & long_const].loc['2020-01-01':'2020-03-18']
    print(wow.shape)
    fire_2020_c[c] = wow.rename(columns={'frp':f'{c}_frp'})

Cambodia (21, 10)
Myanmar (84, 10)
Thailand (120, 10)
Lao_PDR (100, 10)

In [23]:
fire_all.append(fire_2020_c['Myanmar'][['Myanmar_frp']], sort=True)

                     Cambodia_frp  Lao_PDR_frp  Myanmar_frp  Thailand_frp
2016-01-01 00:00:00           0.0          0.0     0.000000           0.0
2016-01-01 01:00:00           0.0          0.0     0.000000           0.0
2016-01-01 02:00:00           0.0          0.0     0.000000           0.0
2016-01-01 03:00:00           0.0          0.0     0.000000           0.0
2016-01-01 04:00:00           0.0          0.0     0.000000           0.0
...                           ...          ...          ...           ...
2020-03-16 19:00:00           NaN          NaN     1.502379           NaN
2020-03-17 06:00:00           NaN          NaN    13.759829           NaN
2020-03-17 18:00:00           NaN          NaN     1.482160           NaN
2020-03-17 19:00:00           NaN          NaN     1.495826           NaN
2020-03-18 06:00:00           NaN          NaN    19.212768           NaN

[35148 rows x 4 columns]

In [24]:
ls = [fire_2020_c[c][f'{c}_frp'] for c in countries]
fire_2020_all = pd.concat(ls, axis=1)

fire_all.append(fire_2020_all)

                     Cambodia_frp  Myanmar_frp  Thailand_frp  Lao_PDR_frp
2016-01-01 00:00:00           0.0     0.000000      0.000000     0.000000
2016-01-01 01:00:00           0.0     0.000000      0.000000     0.000000
2016-01-01 02:00:00           0.0     0.000000      0.000000     0.000000
2016-01-01 03:00:00           0.0     0.000000      0.000000     0.000000
2016-01-01 04:00:00           0.0     0.000000      0.000000     0.000000
...                           ...          ...           ...          ...
2020-03-17 06:00:00           NaN    13.759829     13.759829          NaN
2020-03-17 18:00:00           NaN     1.482160           NaN          NaN
2020-03-17 19:00:00           NaN     1.495826      1.495826          NaN
2020-03-18 06:00:00           NaN    19.212768     19.212768    19.212768
2020-03-18 18:00:00           NaN          NaN           NaN     1.801900

[35243 rows x 4 columns]