In [1]:
import pandas as pd
import numpy as np
import os

`2019-3-18 01:00:00` to `2020-3-18 13:00:00` <br>
Temp, Wind, PM of test set is already cleaned. But Fire spot.

In [2]:
provinces = ['Bangkok','Chanthaburi','Chiang Mai','Kanchanaburi','Khon Kaen','Songkhla']
data = {}
for province in provinces:
    if province=='Khon Kaen' : continue
    df = pd.read_csv(f'./data/Test/{province}_imputed.csv', parse_dates=True, index_col=0)
    data[province] = df
    print(f'{df.index[0]} to {df.index[-1]} ')

2019-03-18 08:00:00 to 2020-03-18 20:00:00
2019-03-18 08:00:00 to 2020-03-18 20:00:00
2019-03-18 08:00:00 to 2020-03-18 20:00:00
2019-03-18 08:00:00 to 2020-03-18 20:00:00
2019-03-18 08:00:00 to 2020-03-18 20:00:00

เริ่มและจบที่เวลาเดียวกันทั้งหมด

In [3]:
data['Bangkok']

                     PM2.5  Temp(C)  WindDir  Wind Speed(km/h)
2019-03-18 08:00:00   45.6     29.3    130.0              17.0
2019-03-18 09:00:00   46.6     29.3    130.0              17.0
2019-03-18 10:00:00   47.7     33.4    120.0              14.0
2019-03-18 11:00:00   43.7     33.4    120.0              14.0
2019-03-18 12:00:00   41.6     33.4    120.0              14.0
...                    ...      ...      ...               ...
2020-03-18 16:00:00   23.9     33.0    210.0               7.0
2020-03-18 17:00:00   24.4     33.0    210.0               7.0
2020-03-18 18:00:00   24.9     33.0    210.0               7.0
2020-03-18 19:00:00   27.0     30.4    260.0               6.0
2020-03-18 20:00:00   26.1     30.4    260.0               6.0

[8797 rows x 4 columns]

ข้อมูล Fire spot ที่ชัดเจนมีถึงแค่สิ้นปี 2019 เราต้องหาจากแหล่งอื่นอีก 3 เดือน (2020, Jan - Mar)

In [10]:
fire = pd.read_csv("./data/fire_2016_to_2019.csv", index_col=0, parse_dates=True)
data['Bangkok'].merge(fire, right_index=True, left_index=True, how='left')

,PM2.5,Temp(C),WindDir,Wind Speed(km/h),Cambodia_frp,Myanmar_frp,Thailand_frp,Lao_PDR_frp
2019-03-18 08:00:00,45.6,29.3,130.0,17.0,0.0,0.0,0.0,0.0
2019-03-18 09:00:00,46.6,29.3,130.0,17.0,0.0,0.0,0.0,0.0
2019-03-18 10:00:00,47.7,33.4,120.0,14.0,0.0,0.0,0.0,0.0
2019-03-18 11:00:00,43.7,33.4,120.0,14.0,0.0,0.0,0.0,0.0
2019-03-18 12:00:00,41.6,33.4,120.0,14.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
2020-03-18 16:00:00,23.9,33.0,210.0,7.0,NaN,NaN,NaN,NaN
2020-03-18 17:00:00,24.4,33.0,210.0,7.0,NaN,NaN,NaN,NaN
2020-03-18 18:00:00,24.9,33.0,210.0,7.0,NaN,NaN,NaN,NaN
2020-03-18 19:00:00,27.0,30.4,260.0,6.0,NaN,NaN,NaN,NaN
2020-03-18 20:00:00,26.1,30.4,260.0,6.0,NaN,NaN,NaN,NaN