สมมติว่ามีลำดับตามนี้ครับ
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22

สมมติว่า ลำดับที่ 10 13 15 20 เป็น **missing**

สมมติว่ากำหนดให้โมเดลมี input : 1 step และตอบ output : 9 step
- ที่ time point 6 โมเดลจะตอบลำดับออกไป 9 step คือ

    6 ==> 7 8 9 10 11 12 13 14 15
- ที่ time point 12 โมเดลจะตอบลำดับออกไป 9 step คือ

    12 ==> 13 14 15 16 17 18 19 20 21

ในการประเมินผล จะไม่เอา missing มาคิด ดังนั้น filter เพื่อเอาลำดับที่ missing ออกไป จะได้ว่า 
- ที่ time point 6 จะเหลือ

    6 ==> 7 8 9 11 12 14 
    
    (drop 10 13 15)
- ที่ time point 12 จะเหลือ

    12 ==> 14 16 17 18 19 21
    
    (drop 13 15 20)

In [1]:
import pandas as pd
#missing index เป็นไฟล์ที่รวม missing date ที่หายไปทั้งหมดของทุก 6 จังหวัด
#file นี้อยู่ใน kaggle นะครับ
#อ่านไฟล์ missing index
miss_index = pd.read_csv('./predictions/missing_index.csv')
miss_index

       Unnamed: 0                     Missing date
0               0  Chanthaburi 2019-03-20 21:00:00
1               1  Chanthaburi 2019-03-20 23:00:00
2               2  Chanthaburi 2019-03-21 00:00:00
3               3  Chanthaburi 2019-03-21 01:00:00
4               4  Chanthaburi 2019-03-21 02:00:00
...           ...                              ...
12169        1936     Songkhla 2020-03-16 07:00:00
12170        1937     Songkhla 2020-03-17 07:00:00
12171        1938     Songkhla 2020-03-17 15:00:00
12172        1939     Songkhla 2020-03-18 07:00:00
12173        1940     Songkhla 2020-03-18 13:00:00

[12174 rows x 2 columns]

In [2]:
#อ่านไฟล์ submission ล่าสุดของตัวเองครับ ที่มี 481320 row 
#file นี้ใช้เป็น submission file ของน้องเองนะ
your_submission = pd.read_csv('./predictions/sub3.csv')
your_submission

            Id  Predicted
0            0  27.177496
1            1  28.232582
2            2  28.580084
3            3  28.684645
4            4  27.955214
...        ...        ...
481315  481315  13.528379
481316  481316  13.611746
481317  481317  14.315307
481318  481318  13.587895
481319  481319  13.652362

[481320 rows x 2 columns]

In [3]:
#อ่านไฟล์ prediction index เป็นไฟล์ที่รวม index ของ output แต่ละ time point 
#file นี้อยู่ใน kaggle นะครับ
prediction_index = pd.read_csv('./predictions/output_index.csv')
prediction_index

        Unnamed: 0              predicted timestamp
0                0  Chanthaburi 2019-03-18 13:00:00
1                1  Chanthaburi 2019-03-18 14:00:00
2                2  Chanthaburi 2019-03-18 15:00:00
3                3  Chanthaburi 2019-03-18 16:00:00
4                4  Chanthaburi 2019-03-18 17:00:00
...            ...                              ...
481315       81139     Songkhla 2020-03-18 14:00:00
481316       81140     Songkhla 2020-03-18 15:00:00
481317       81141     Songkhla 2020-03-18 16:00:00
481318       81142     Songkhla 2020-03-18 17:00:00
481319       81143     Songkhla 2020-03-18 18:00:00

[481320 rows x 2 columns]

In [4]:
#assign index ให้กับ submission 
your_submission['datetime index'] = prediction_index['predicted timestamp']
your_submission[['Predicted','datetime index']]

        Predicted                   datetime index
0       27.177496  Chanthaburi 2019-03-18 13:00:00
1       28.232582  Chanthaburi 2019-03-18 14:00:00
2       28.580084  Chanthaburi 2019-03-18 15:00:00
3       28.684645  Chanthaburi 2019-03-18 16:00:00
4       27.955214  Chanthaburi 2019-03-18 17:00:00
...           ...                              ...
481315  13.528379     Songkhla 2020-03-18 14:00:00
481316  13.611746     Songkhla 2020-03-18 15:00:00
481317  14.315307     Songkhla 2020-03-18 16:00:00
481318  13.587895     Songkhla 2020-03-18 17:00:00
481319  13.652362     Songkhla 2020-03-18 18:00:00

[481320 rows x 2 columns]

In [5]:
#เช็คเงื่อนไขว่า ถ้า index ที่ทำนายออกมา ตรงกับ missing index ให้ drop ทิ้ง
cond = your_submission['datetime index'].isin(miss_index['Missing date'])
your_submission.drop(your_submission[cond].index, inplace = True)

In [6]:
#ได้ออกมาเป็น submission ล่าสุด ซึ่งต้องมี 448554 row
your_submission.reset_index(inplace=True)
your_submission.drop(columns={'Id'},inplace=True)
your_submission

         index  Predicted                   datetime index
0            0  27.177496  Chanthaburi 2019-03-18 13:00:00
1            1  28.232582  Chanthaburi 2019-03-18 14:00:00
2            2  28.580084  Chanthaburi 2019-03-18 15:00:00
3            3  28.684645  Chanthaburi 2019-03-18 16:00:00
4            4  27.955214  Chanthaburi 2019-03-18 17:00:00
...        ...        ...                              ...
448549  481315  13.528379     Songkhla 2020-03-18 14:00:00
448550  481316  13.611746     Songkhla 2020-03-18 15:00:00
448551  481317  14.315307     Songkhla 2020-03-18 16:00:00
448552  481318  13.587895     Songkhla 2020-03-18 17:00:00
448553  481319  13.652362     Songkhla 2020-03-18 18:00:00

[448554 rows x 3 columns]

In [7]:
your_submission['id'] = your_submission.index
your_submission = your_submission[['Predicted','id']]

In [8]:
your_submission.set_index('id',inplace=True)
your_submission

        Predicted
id
0       27.177496
1       28.232582
2       28.580084
3       28.684645
4       27.955214
...           ...
448549  13.528379
448550  13.611746
448551  14.315307
448552  13.587895
448553  13.652362

[448554 rows x 1 columns]

In [9]:
your_submission.to_csv('./predictions/final_submission3.csv')